
body{
    background-color:black;
    margin: 50px;
    width: auto;
    
}
main{
    padding: 30px 30px;
    margin-left: 22%;
    border-radius: 10%;
    color: azure;
    text-align: center;
    width: 50%;
    
}
h1{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}
div{
   
    position: relative;
    justify-content: center;
}
    
 @media(max-width:780px) {
    main{
       
        color: aliceblue;
        border-radius: 5% ;
        margin: 19%;
        width: 50%; 
        position: relative;
        justify-items: center;

    }
 } 